<div class="comments" id="comment-<%= i.comments[j].id%>">
    <div class="info">
        <img src="<%= i.comments[j].user.avatar %>" alt="<%= i.comments[j].user.name %>">
        <div>
            <p><%=i.comments[j].user.name%></p>
            <p><%=i.comments[j].createdAt.toLocaleString()%></p>
        </div>
        <% if (locals.user && (user.id === i.user.id || user.id === i.comments[j].user.id)){ %>
            <a href="/comment/delete/<%= i.comments[j].id%>">
                <span class="material-symbols-outlined" id="delete-comment">
                    delete
                </span>
            </a>
        <% } %>
        <% if (locals.user) { %>
            <a href="/like/?id=<%= i.comments[j].id%>&onModel=Comment">
                <span class="material-symbols-outlined like">
                    thumb_up
                </span>
            </a>
        <% } else { %>
            <a>
                <span class="material-symbols-outlined">
                    thumb_up
                </span>
            </a>
        <% } %>
        <span class="like-count">
            <%=i.comments[j].likes.length%>
        </span>
    </div>
    <p class="content"><%=i.comments[j].content%></p>
</div>