<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />

<div id="home">
    <% if (locals.user){ %>
        <form action="/post/create" method="post" id="post-form">
            <textarea name="content" cols="30" rows="5" placeholder="Enter your post here" required></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
    <div>
        <section id="post-container">
            <%for (i of posts){%>
                <%- include("_post")-%>
            <%}%>
        </section>
        <aside>
            <% if (locals.user){ %>
                <h3>following :-</h3>
                <% for (i of signed_user.following){ %>
                    <a href="/user/profile/<%=i.to_user.id%>">
                        <div class="user-mini">
                            <img src="<%= i.to_user.avatar %>" alt="<%= i.to_user.name %>">
                            <div>
                                <p><%=i.to_user.name%></p>
                                <p>Since <%=i.to_user.createdAt.toLocaleString('default', { month: 'long' , year: "numeric"})%></p>
                            </div>
                        </div>
                    </a>
                <% } %>
                <h3>followers :-</h3>
                <% for (i of signed_user.followers){ %>
                    <a href="/user/profile/<%=i.by_user.id%>">
                        <div class="user-mini">
                            <img src="<%= i.by_user.avatar %>" alt="<%= i.by_user.name %>">
                            <div>
                                <p><%=i.by_user.name%></p>
                                <p>Since <%=i.by_user.createdAt.toLocaleString('default', { month: 'long' , year: "numeric"})%></p>
                            </div>
                        </div>
                    </a>
                <% } %>
            <% } %>
            <h3>Users :-</h3>
            <% for (i of all_users){ %>
                <a href="/user/profile/<%=i.id%>">
                    <div class="user-mini">
                        <img src="<%= i.avatar %>" alt="<%= i.name %>">
                        <div>
                            <p><%=i.name%></p>
                            <p>Since <%=i.createdAt.toLocaleString('default', { month: 'long' , year: "numeric"})%></p>
                        </div>
                    </div>
                </a>
            <% } %>
        </aside>
    </div>
</div>

<script src="/js/home/home_post.js"></script>
<script src="/js/home/home_comment.js"></script>
<script src="/js/home/home_like.js"></script>