<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Noty js style and script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Default Style Sheet -->
    <link rel="stylesheet" href="/css/layout.css">

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Components Style Sheet -->
    <%- style%>
</head>
<body>
    <div id="header">
        <%- include("_header")%>
    </div>

    <div id="body">
        <%- body%>
    </div>

    <div id="footer">
        <%- include("_footer")%>
    </div>

    <!-- Scripts Section -->
    <script src="/js/master.js"></script>
    <%- script%>

    <% if (flash.success && flash.success.length > 0) { %>
        <script>
            success("<%= flash.success %>");
        </script>
    <% } %>
    
    <% if (flash.error && flash.error.length > 0) { %>
        <script>
            error("<%= flash.error %>");
        </script>
    <% } %>
    
    <% if (flash.warning && flash.warning.length > 0) { %>
        <script>
            warning("<%= flash.warning %>");
        </script>
    <% } %>

</body>
</html>